.input-display {
  background-color: #858693;
  min-height: 100px;
  width: 96.5%;
  padding: 0 15px 0 0;
  margin: 0;
  border: 1px solid rgb(168, 164, 164);
  font-size: 3em;
  color: #fff;
  text-align: right;
}

/* #f5913e naranja */

/* ##e0e0e0 naranja */
